body{
    background-image: url(../images/background-1920px.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.card-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 340px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-in-hand{
    width: 150px;
    height: 225px;
    border-radius: 10px;
    background-color: #fff;
    margin: 5px 5px;
    /*float: left;*/
    transition: transform 0.4s;
    box-shadow: 5px 5px 20px #000;
    border: 3px solid #fff;
}

.card-in-hand:hover{
    transform: scale(1.1);
}

.card-select{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0px;
    height: 0px;    
    z-index: 99;
}

.shelter{
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    display: none;
}

.select-cancel-button{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    border-radius: 50%;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
}

.select-cancel-button:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.select-button{
    left: 400px;
    background-color: lawngreen;
}

.cancel-button{
    background-color: red;
    right: 400px;
}

.button-initial-size{
    width: 0px;
    height: 0px;
    display: none;
}

.select-cancel-button-size{
    width: 100px;
    height: 100px;
}

.card-in-hand img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.select-cancel-button img{
    width: 100%;
    height: 100%;
}

.card-selected img{
    opacity: 0.5;
}

@media screen and (max-width : 1400px){
    .select-button{
        left: 300px;
    }
    .cancel-button{
        right: 300px;
    }
}

@media screen and (max-width : 1300px){
    body{
        background-image: url(../images/background-1400px.jpg);
        background-size: cover;
    }
    .card-in-hand{
        width: 100px;
        height: 150px;
    }
    .select-button{
        left: 250px;
    }
    .cancel-button{
        right: 250px;
    }
}

@media screen and (max-width : 1200px){
    .select-button{
        left: 200px;
    }
    .cancel-button{
        right: 200px;
    }
}

@media screen and (max-width : 1000px){
    body{
        background-image: url(../images/background-1400px.jpg);
        background-size: cover;
    }
    .card-in-hand{
        width: 80px;
        height: 120px;
    }
    .select-button{
        left: 150px;
    }
    .cancel-button{
        right: 150px;
    }
}

